[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailscq
Exec=harbour-sailscq
Name=SailSCQ
Name[de]=SailSCQ
Comment=Control Soundcore headphones (based on OpenSCQ30)
Comment[de]=Soundcore-Kopfhörer steuern (basiert auf OpenSCQ30)
Comment[bg]=Управление на устройства Soundcore
Comment[bn]=Soundcore ডিভাইস ব্যবস্থাপক
Comment[cs]=Správce zařízení Soundcore
Comment[da]=Soundcore-enhedsstyring
Comment[el]=Διαχείριση συσκευών Soundcore
Comment[es]=Gestor de dispositivos Soundcore
Comment[et]=Soundcore'i seadmehaldur
Comment[fi]=Soundcore-laitehallinta
Comment[fr]=Gestionnaire d’appareils Soundcore
Comment[gu]=Soundcore ઉપકરણ મેનેજર
Comment[hi]=Soundcore डिवाइस प्रबंधक
Comment[hu]=Soundcore eszközkezelő
Comment[it]=Gestione dispositivi Soundcore
Comment[kn]=Soundcore ಸಾಧನ ನಿರ್ವಾಹಕ
Comment[lt]=Soundcore įrenginių tvarkyklė
Comment[lv]=Soundcore ierīču pārvaldnieks
Comment[ml]=Soundcore ഉപകരണ മാനേജർ
Comment[mr]=Soundcore डिव्हाइस व्यवस्थापक
Comment[nb]=Soundcore-enhetsstyring
Comment[nl]=Soundcore-apparaatbeheer
Comment[pa]=Soundcore ਡਿਵਾਈਸ ਪ੍ਰਬੰਧਕ
Comment[pl]=Menedżer urządzeń Soundcore
Comment[pt]=Gestor de dispositivos Soundcore
Comment[pt_BR]=Gerenciador de dispositivos Soundcore
Comment[ro]=Manager de dispozitive Soundcore
Comment[ru]=Управление устройствами Soundcore
Comment[sk]=Správca zariadení Soundcore
Comment[sl]=Upravitelj naprav Soundcore
Comment[sv]=Soundcore-enhetshanterare
Comment[ta]=Soundcore சாதன மேலாளர்
Comment[te]=Soundcore పరికర మేనేజర్
Comment[tr]=Soundcore cihaz yöneticisi
Comment[tt]=Soundcore җайланмалары идарәсе
Comment[uk]=Керування пристроями Soundcore
Comment[vi]=Trình quản lý thiết bị Soundcore
Comment[zh_CN]=Soundcore 设备管理
Comment[zh_HK]=Soundcore 裝置管理
Comment[zh_TW]=Soundcore 裝置管理

[X-Sailjail]
# Must match setOrganizationName()/setApplicationName() in src/harbour-sailscq.cpp
OrganizationName=org.sailscq
ApplicationName=sailscq
# Bluetooth: talk to BlueZ (list paired devices, RFCOMM connection of the CLI)
Permissions=Bluetooth
# If the RFCOMM connection fails inside the sandbox, test with:
# Sandboxing=Disabled
